
<app-navbar></app-navbar>




<div class="container mt-5 text-center" *ngIf="cities">
  <div class="row ">
    <div class="col-md-12 ">
      <h3 class="mb-3">Listado de Ciudades de 10</h3>

        <!-- <tr *ngFor="let citie of cities.data;let indice=index">
        <td>
        {{indice+1}}

        <td>{{citie.name}}</td> -->



<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">City Name</th>
      <th scope="col">latitude</th>
      <th scope="col">longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let citie of cities.data;let indice=index">
      <th scope="row">{{indice+1}}</th>
      <td>{{citie.name}}</td>
      <td>{{citie.latitude}}</td>
      <td>{{citie.longitude}}</td>
    </tr>
 
  </tbody>
</table>


    </div>
    <div class="col-md-12 mt-3">
    <button (click)="next()" class="btn btn-primary text-center ">Next</button>
    </div>
  </div>
</div>

